src/proxy/BanqueWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8686/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="conversionEuroToDH">
<part name="parameters" element="tns:conversionEuroToDH"></part>
</message>
<message name="conversionEuroToDHResponse">
<part name="parameters" element="tns:conversionEuroToDHResponse"></part>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"></part>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"></part>
</message>
<message name="getComtpe">
<part name="parameters" element="tns:getComtpe"></part>
</message>
<message name="getComtpeResponse">
<part name="parameters" element="tns:getComtpeResponse"></part>
</message>
<portType name="BanqueService">
<operation name="conversionEuroToDH">
<input wsam:Action="http://ws/BanqueService/conversionEuroToDHRequest" message="tns:conversionEuroToDH"></input>
<output wsam:Action="http://ws/BanqueService/conversionEuroToDHResponse" message="tns:conversionEuroToDHResponse"></output>
</operation>
<operation name="compteList">
<input wsam:Action="http://ws/BanqueService/compteListRequest" message="tns:compteList"></input>
<output wsam:Action="http://ws/BanqueService/compteListResponse" message="tns:compteListResponse"></output>
</operation>
<operation name="getComtpe">
<input wsam:Action="http://ws/BanqueService/getComtpeRequest" message="tns:getComtpe"></input>
<output wsam:Action="http://ws/BanqueService/getComtpeResponse" message="tns:getComtpeResponse"></output>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="conversionEuroToDH">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="compteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getComtpe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8686/"></soap:address>
</port>
</service>
</definitions>